* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#contenedor {
  display: flex;
  width: 100%;
  height: 100%;
}

#contenedor-galeria {
  margin-top: 20px;
  margin-bottom: 20px;
}

#contenedor-galeria-filtros,
#contenedor-galeria-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-galeria-filtros > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#contenedor-galeria-filtros > ul > a {
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.galery-content-item {
  background-size: cover;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contenedor-galeria-filtros a {
  text-decoration: none;
  color: black;
}

.galery-content-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 25%;
}

.selected {
  background-color: lightblue;
}

#contenedor-galeria-filtros > ul > div > a > li {
  color: white;
}

#contenedor-galeria-filtros {
  margin-bottom: 20px;
}

.galery-content-item > a > p {
  color: white;
  margin: 0;
}

.galery-content-item:nth-child(1) {
  background-image: url(../img/cleaning1.jpg);
}
.galery-content-item:nth-child(2) {
  background-image: url(../img/cleaning2.jpg);
}
.galery-content-item:nth-child(3) {
  background-image: url(../img/cleaning3.jpg);
}
.galery-content-item:nth-child(4) {
  background-image: url(../img/cleaning3.jpg);
}
.galery-content-item:nth-child(5) {
  background-image: url(../img/cleaning1.jpg);
}
.galery-content-item:nth-child(6) {
  background-image: url(../img/cleaning2.jpg);
}
.galery-content-item:nth-child(7) {
  background-image: url(../img/cleaning2.jpg);
}
.galery-content-item:nth-child(8) {
  background-image: url(../img/cleaning3.jpg);
}
.galery-content-item:nth-child(9) {
  background-image: url(../img/cleaning1.jpg);
}
.galery-content-item:nth-child(10) {
  background-image: url(../img/cleaning3.jpg);
}
.galery-content-item:nth-child(11) {
  background-image: url(../img/cleaning2.jpg);
}
.galery-content-item:nth-child(12) {
  background-image: url(../img/cleaning1.jpg);
}
